<h1>Калашнюк Игорь</h1>
<p>задание выполнил, оценить которое можно </p>

<a href="https://github.com/IvikGH/bursa1app">по ссылке</a>

<h1>FirstController#home</h1>
<p>Find me in app/views/first_controller/home.html.erb</p>
